/* Contenedor principal */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0f7e9; /* Fondo claro verde */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  height: auto;
  background-color: rgba(0, 100, 0, 0.85); /* Fondo verde oscuro semitransparente */
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #ffffff; /* Texto blanco */
}

/* Título y subtítulo */
.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #a5d6a7; /* Verde claro */
  margin-bottom: 10px;
}

.login-subtitle {
  font-size: 16px;
  color: #c8e6c9; /* Verde aún más claro */
  margin-bottom: 20px;
}

/* Grupo de formularios */
.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  color: #c8e6c9; /* Verde claro */
  display: flex;
  align-items: center;
}

.form-group .icon {
  margin-right: 8px;
  color: #66bb6a; /* Verde medio */
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 2px solid #66bb6a; /* Borde verde medio */
  border-radius: 8px;
  outline: none;
  background-color: #ffffff; /* Fondo blanco */
  color: #333;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #388e3c; /* Verde más oscuro al hacer foco */
}

/* Botones */
.login-button,
.register-button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}

.login-button {
  background-color: #388e3c; /* Verde oscuro */
}

.login-button:hover {
  background-color: #2e7d32; /* Verde más oscuro */
}

.register-button {
  background-color: #66bb6a; /* Verde medio */
  color: #333;
}

.register-button:hover {
  background-color: #57a05a; /* Verde medio más oscuro */
}

/* Mensajes de éxito y error */
.error-message,
.success-message {
  margin-top: 10px;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  color: white;
}

.error-message {
  background-color: #e57373; /* Rojo claro */
}

.success-message {
  background-color: #81c784; /* Verde claro */
}

/* Media Queries */
@media (max-width: 768px) {
  .login-title {
      font-size: 22px;
  }
  .form-group input {
      padding: 10px;
  }
  .login-button,
  .register-button {
      padding: 10px;
  }
}

@media (max-width: 480px) {
  .login-title {
      font-size: 20px;
  }
  .login-subtitle {
      font-size: 14px;
  }
  .form-group input {
      padding: 8px;
  }
  .login-button,
  .register-button {
      padding: 8px;
  }
}
